.App {
  display: flex;
  align-items: center;
  justify-content: center;
}
  .container {
    margin: 0 20px 0 20px;
    width: 1440px;
  }
  .buttons {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr;
    grid-template-rows: auto;
    grid-row-gap: 16px;
  }